<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>387058871336-lmtjnp65svjmbs9093ck4hjuo0k8of3i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.387058871336-lmtjnp65svjmbs9093ck4hjuo0k8of3i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>387058871336-2oc6h4gsbsbpg6fliffhg0od3j62amri.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDdYDdOJKs5f19PUtrSCJKQi62NBUhLq6Q</string>
	<key>GCM_SENDER_ID</key>
	<string>387058871336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.tayseer</string>
	<key>PROJECT_ID</key>
	<string>tayseer-c7822</string>
	<key>STORAGE_BUCKET</key>
	<string>tayseer-c7822.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:387058871336:ios:64b82c2b8df616977e991d</string>
</dict>
</plist>